table,
th,
td
{
  border: 1px solid black;
  border-collapse: collapse;
  border-color: red;
  font-family: Arial, Helvetica, sans-serif;
}
th,
td{
    padding:6px;
    vertical-align: top;
    text-align:right;
}
